//  Whatever you add is compiled automatically on save and added as a separate .css stylesheet to the <head> section if the theme is active

// NAVIGATION
.header-buttons {
  button {
    background-color: black;
    svg {
      display: none;
    }
  }
  .sign-up-button {
    display: none;
  }
}

//AFTER_HEADER
.banner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 0;
  width: 100%;
}

.banner-title {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.015em;
  line-height: 80px;
}

.banner-subtitle {
  // font-family: 'Futura Bk BT';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 420px;
}

// FOOTER
.custom-sephora-footer-wrapper {
  background: #000000;
  padding: 40px 20px;
  color: #ffffff;
  margin-top: 40px;
}

.custom-sephora-footer {
  max-width: 1110px;
  margin: 0 auto;
  .custom-sephora-footer-top {
    display: flex;
    justify-content: space-between;
    h6 {
      margin: 4px;
      font-size: 24px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding-left: 4px;
      margin: 0;
    }
    .custom-footer-social-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

.custom-sephora-footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.omniture-link {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }
  span {
    display: none;
  }
}
