//  Whatever you add is compiled automatically on save and added as a separate .css stylesheet to the <head> section if the theme is active
.hello-world-banner {
  height: 300px;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.015em;
  color: #000000;
}

.banner-subtitle {
  font-family: 'Futura Bk BT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
